<footer class="page-footer primary-color">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h3 class="white-text">Cultura Admin</h3>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Información Importante</h5>
          <ul>
            <li><a href="/">Página principal</a></li>

            <li><a href="/usuario/rol">Usuarios y privilegios</a></li>

            <li><a href="/guias">Guías</a></li>
          </ul>
        </div>
        
      </div>
    </div>
    <div class="footer-copyright">
      
    </div>
  </footer>
  

  <script src="js/init.js"></script>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOonz9xYahAmBqfXi0Vy6zdrHAlj9Pdw8&callback=initMap&v=weekly"
      defer
    ></script>

  <script>
    M.AutoInit();

    //Para que cuente palabras en editar guia
    $(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });
  </script>
</html>