<%- include('includes/header_image.ejs') %>
    <!-- <style>
    body {
  background-image: url('/img/queretaro-dark.jpg');
  background-size: cover;
}
</style> -->
    <link rel="stylesheet" href="/css/style_evento.css">

    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="container" style="margin-bottom: 10%;">
        <h1 class="white-text">Agregar Nueva Guía</h4>
            <div class="white" style="padding-top: 2em; padding-bottom: 2em;">
                <form id="nuevo_imagen" method="POST" enctype="multipart/form-data">
                    <div class="row  valign-wrapper" style="margin-bottom: 0px;">
                        <div class="col s3 center">
                            <!-- <div class="card" style="border-radius: 20px;">
                                <div class="card-image">
                                    <img src="/img/no-img.jpg" style="border-radius: 20px;">
                                    <div class="file-field input-field">
                                        <a type="file"
                                            class="btn-floating halfway-fab waves-effect waves-light blue-gradient-btn">
                                            <input id="imagen_limitacion" type="file" accept="image/png, image/jpg, image/jpeg" name="imagen_limitacion">
                                            <i class="tiny material-icons">edit</i>
                                        </a>
                                    </div>
                                </div>
                            </div> -->
                            <div class="card imgPicker">
                                <div class="card-image">
                                    <img class="imgPicker imgP" src="/img/no-img.jpg">
                                    <div class="primary-color waves-effect waves-light btn-floating halfway-fab button-upload"
                                        onclick="filebutton.click()"><i class="material-icons">edit</i></div>
                                    <input class="file-upload" id="filebutton" type="file" name="url_imagen"
                                        style="display:none">
                                </div>
                            </div>
                        </div>
                        <div class="col s9">
                            <div class="row">
                                <div class="col s12">
                                    <h5>Nombre de la Limitación</h5>
                                    <!-- <label for="nombre_limitacion">Nombre de la Limitacion</label> -->
                                    <input id="nombre_limitacion" placeholder="Ejemplo: Limitaciones Visuales"
                                        type="text" name="nombre" required>
                                </div>
                                <!-- <div class="col s6">
                                    
                                </div> -->
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <h5>Descripción</h5>
                                    <textarea placeholder="Descripción de Limitación..." id="textarea2"
                                        class="materialize-textarea" data-length="120" name="descripcion" required></textarea>
                                    <!-- <label for="textarea2">Descripcion</label> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row valign-wrapper" style="margin-bottom: 0px;">
                        <div class="col s1" style="margin-top: 0px;"></div>
                        <div class="col s10" style="margin-top: 0px; margin-bottom: 1em;">
                            <h5>TIPS</h5>
                            <textarea placeholder="Escribe Tips..." id="textarea2" class="materialize-textarea"
                                data-length="200" name="tip" required></textarea>
                            <!-- <label for="textarea2">Descripcion</label> -->
                        </div>
                        <div class="col s1" style="margin-top: 0px;"></div>
                    </div>
                    <div class="row valign-wrapper">
                        <div class="col s1" style="margin-top: 0px;"></div>
                        <div class="col s3" style="margin: auto 0;">
                            <h5 class="center">Id del Video de YouTube</h5>
                        </div>
                        <div class="col s7" style="margin: auto 0;">
                            <div class="left">
                                <!-- <input id="icono_limitacion" type="file" accept="image/png, image/jpg, image/jpeg, Video/mp4" class="customFileVideo"> -->
                                <input type="text" placeholder="Id del Video..." name="video" required>
                            </div>
                        </div>
                        <div class="col s1" style="margin-top: 0px;"></div>
                    </div>
                    <div class="row center" style="margin-top: 1.5em;">
                        <input type="submit" class="blue-gradient-btn btn-large hoverable"
                            style="color: white; width: 70%;" value="Agregar Guía">
                    </div>
                </form>


            </div>
    </div>
    <script src="/js/script_nuevo_museo.js"></script>
    <%- include('includes/footer.ejs') %>