<%- include('includes/header.ejs') %>
<style>
    body {
  background-image: url('/img/queretaro-dark.jpg');
  background-size: cover;
}
    .page-content {
    background-color: aliceblue;
    border-radius: 5px;
}
</style>


<div class="container">
    <h1 class="white-text">--MACRO--</h1>
    <div class="page-content">
        <div>
            <p>jns</p>
        </div>
    </div>

</div>

<%- include('includes/footer.ejs') %>