<%- include('includes/header_image.ejs') %>
<main>
<form id="nuevo_imagen"method="POST" enctype="multipart/form-data">




  <!-- MODAL PARA SUBIR HORARIOS -->

  <div id="modal_hr" class="modal">
    <div class="modal-content">
      <h4>Horarios del museo</h4>
      <p>Elegir horario del museo</p>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>



<div class="container">
    <h1 class="white-text">Nuevo evento</h1>
    
        <div class="white min-container">
            <div class="row center margin-10">  
                <!-- valign-wrapper -->
                <div class="col s5">
                    <div class="row valign-wrapper">
                        <div class="col s10">
                            <div class="card imgPicker">
                                <div class="card-image">
                                  <img class="imgPicker imgP" src="../img/no-img.jpg">
                                  <div class="primary-color waves-effect waves-light btn-floating halfway-fab button-upload" onclick="filebutton.click()"><i class="material-icons">edit</i></div>
                                  <input class="file-upload" id="filebutton" type="file" name='url_imagen' style="display:none">
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="col s7"> 
                    <div class="row center">
                        <div class="input-field col s10 offset-s1">
                            <input placeholder="Ej: Noche de Peliculas" id="info_evento" name="info_evento" type="text" class="validate">
                            <label for="info_evento"> Nombre del Evento </label>
                        </div>

                    </div>
                    <div class="row center">
                        <div class="col offset-s1">
                            <div class="col">
                                <div>
                                    Calendario
                                </div>
                                <input placeholder="Ej:2022-10-12" id="fecha_hora" name="fecha_hora" type="text" class="validate">
                                <label for="fecha_hora"> Fecha y Hora </label>
                                <a class="btn waves-effect waves-light primary-color modal-trigger" href="#modal_hr"><i class="material-icons left">calendar_month</i>Agregar horarios </a>
                                <div class="input-field col s12">
                                    <select multiple id="sevento" name="sevento">
                                      <option value="" disabled selected>Seleccionar categoria:</option>
                                      <% for (let tag of tags){%>
                                      <option value='<%=tag.id_tag%>'><%=tag.nom_tag%></option>
                                      <%}%>
                                    </select>
                                    <label>Categorias del evento</label>
                                  </div>
                            </div>  
                        </div>
                        
                        
                    </div>
                </div>

            </div>
            
            <div class="row center margin-10">  
                
                <div class="input-field col s5">
                        <input placeholder="Ej: C. Ignacio Allende Sur 14" name="ubicacion_evento" id="ubicacion_evento" type="text" class="validate">
                    <label for="ubicacion_evento"> Dirección </label> 
                </div>
              
            </div>
            <div class="row center margin-10">  
                <button type="submit" value="upload" class="btn waves-effect waves-light green margin-10">
                    <i class="material-icons left">check</i>
                    Registrar Evento
                </button>
            </div>
        </div>   
    
</div>
</form>
</main>

<script src="/js/script_nuevo_evento.js"></script>
<%- include('includes/footer.ejs') %>