<%- include('includes/header_image.ejs') %>
    <main>
            <div class="row">
                <div class="col s10 offset-s1">
                    <h4 class="card-title"> Regístra un nuevo museo      
                        <button onclick="addSalas()" id="addSalas" class="waves-effect waves-dark btn"> <i class="material-icons"> remove </i> </button> 
                                            <span id="num_salas"> 0 </span>
                                        <button onclick="addSalas()" id="addSalas" class="waves-effect waves-dark btn"> <i class="material-icons"> add </i> </button>  
                    </h4> 
                    <div class="card">
                        <div class="card-content pb-0">
                            <div class="card-header mb2"> 
                            </div>
                            <form id="uploadForm"  enctype="multipart/form-data">
                            <ul class="stepper linear horizontal">
                            <li class="step active"> 
                                <div class="step-title waves-effect"> <p>Información</p> </div>
                                <div class="step-content">
                                 <div class="row">
                                     <div class="col s7">
                            
                                         <!-- NOMBRE -->
                                         <div class="row center">
                                           <div class="col s10 offset-s1">
                                             <div class="input-field">
                                                 <input id="nom_museo" name="nom_museo" type="text"
                                                     class="validate" required data-length="10" maxlength="10">
                                                 <label for="nom_museo"> Nombre del Museo <span class="required">*</span></label>
                                                 <span class="helper-text" data-error="Este input es requerido"></span>
                                             </div> 
                                            
                                             <!-- TELÉFONO -->
                                             <div class="input-field">
                                                 <input id="num_museo" name="num_museo" type="text"
                                                     class="validate" required class>
                                                 <label for="num_museo"> Teléfono de contacto <span class="required">*</span></label>
                                                 <span class="helper-text" data-error="Este input es requerido"></span>
                                             </div>
                                             <!-- HORARIOS -->
                                             <div class="input-field">
                                                 <input id="horario_museo" name="horario_museo" type="text"
                                                     class="validate" required data-length="10" maxlength="10">
                                                 <label for="horario_museo"> Horario <span class="required">*</span></label>
                                                 <span class="helper-text" data-error="Este input es requerido"></span>
                                             </div>
                                            </div>
                                         </div>
                                     </div>
                                     <div class="col s5">
                                        
                                            <div class="col s9 offset-s2">
                                                   <input type="text" name="event" id="event" value="museo" style="display:none">
                                                   <input type="text" name="filename" id="filename" style="display:none">
                                                <div class="card imgPicker">
                                                    <div class="card-image">
                                                       <img class="imgPicker imgP" src="/img/no-img.jpg">
                                                       <div class="primary-color waves-effect waves-light btn-floating halfway-fab button-upload"
                                                           onclick="uploadFile.click()"><i class="material-icons">edit</i></div>
                                                       <input class="file-upload" type="file" name="uploadFile" id="uploadFile" style="display:none" accept="image/*">
                                                    </div>
                                                </div>
                                            </div>
                                       
                                    </div>
                                 </div>
                                   <div class="step-actions">
                                      <div class="row">
                                        <div class="col"> <button class="red btn btn-reset" type="reset"> Resetear <i class="material-icons left"> clear </i>  </button> </div>
                                        <div class="col"> <button class="btn light-blue-secondary previous-step"> Anterior  <i class="material-icons left"> arrow_back </i> </button> </div>
                                        <div class="col"> <button class="waves-effect waves dark btn light-blue-secondary next-step" type="reset"> Siguiente <i class="material-icons right"> arrow_forward </i> </button> </div>
                                      </div>
                                   </div>
                                </div>
                             </li>
                             <li class="step">
                                 <div class="step-title waves-effect"> Dirección </div>
                                 <div class="step-content">
                                     <!-- DIRECCIÓN -->
                                     <div class="input-field col s5">
                                         <input name="ubicacion_museo"
                                             id="ubicacion_museo" type="text" class="validate" required>
                                         <label for="ubicacion_museo"> Dirección <span class="required">*</span></label>
                                         <span class="helper-text" data-error="Este input es requerido"></span>
                                         <div> Google Maps API integration goes here </div>
                                     </div>
                                     <div class="col s9 offset-s2">
                                        <input type="text" name="audioname" id="audioname" style="display:none">
                                     <div class="card imgPicker">
                                         <div class="card-image">
                                            <!-- <img class="imgPicker imgP" src="/img/no-img.jpg">
                                            <div class="primary-color waves-effect waves-light btn-floating halfway-fab button-upload"
                                                onclick="uploadFile.click()"><i class="material-icons">edit</i></div> -->
                                            <input type="file" name="uploadAudio" id="uploadAudio">
                                         </div>
                                     </div>
                                 </div>
                                    <div class="step-actions">
                                        <div class="row">
                                            <div class="col"> <button class="red btn btn-reset" type="reset"> Resetear <i class="material-icons left"> clear </i>  </button> </div>
                                            <div class="col"> <button class="btn light-blue-secondary previous-step"> Anterior  <i class="material-icons left"> arrow_back </i> </button> </div>
                                            <div class="col"> <button class="waves-effect waves dark btn light-blue-secondary next-step" type="reset"> Siguiente <i class="material-icons right"> arrow_forward </i> </button> </div>
                                          </div>
                                    </div>
                                 </div>
                              </li>
                              <li class="step">
                                 <div class="step-title waves-effect"> Descripción </div>
                                 <div class="step-content">
                                     <!-- DESCRIPCION -->
                                     <div class="input-field col s10 offset-s1">
                                         <textarea id="desc_museo" name="desc_museo"
                                             class="materialize-textarea validate" required></textarea>
                                         <label for="desc_museo"> Descripción <span class="required">*</span></label>
                                         <span class="helper-text" data-error="Este input es requerido"></span>
                                     </div>
                                     <div> QUILL TEXT EDITOR? </div>
                                    
                                    <div class="step-actions">
                                        <div class="row">
                                            <div class="col"> <button class="red btn btn-reset" type="reset"> Resetear <i class="material-icons left"> clear </i>  </button> </div>
                                            <div class="col"> <button class="btn light-blue-secondary previous-step"> Anterior  <i class="material-icons left"> arrow_back </i> </button> </div>
                                            <div class="col"> <button class="waves-effect waves dark btn light-blue-secondary next-step" type="reset"> Siguiente <i class="material-icons right"> arrow_forward </i> </button> </div>
                                            <input type="submit" value="upload"> 
                                        </div>
                                    </div>
                                 </div>
                              </li>
                        </form>
                        </div>
                    </div>
                    
                </div>
            </div>
       
        
            
    </main>
    <script src="/js/script_stepper_museo.js"></script>
    <%- include('includes/footer.ejs') %>