<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Qultura Admin</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/stylarbac.css">

  <link rel="stylesheet" href="/materialize-css/dist/css/materialize.css" media="screen,projection" />
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col s12">
                <div class="col s6"></div>
                <div class="col s6">
                    <div class="card large" id="tarjeta">
                        <div class="row">
                            <div class="col s12 center-align">
                                <h3>Sign up</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <div class="col s3"></div>
                                <div class="col s6">
                                    <form method="POST" action="" id="signup">
                                        <input type="text" placeholder="Nombre" name="us_nombre" id="us_nombre">
                                        <br>
                                        <br>
                                        <input type="text" placeholder="Correo" name="us_correo" id="us_correo">
                                        <br>
                                        <br>
                                        <input type="password" placeholder="Contraseña" name="us_password" id="us_password">
                                        <br>
                                        <br>
                                        <input type="password" placeholder="Repetir Contraseña">
                                        <br>
                                        <br>
                                        <button type="submit" class="waves-effect primary-color btn"> Registrar</button>
                                    </form>
                                </div>
                                <div class="col s3"></div>
                            </div>
                        </div>
                    </div>

                    

                </div>
            </div>
        </div>
        
    </div>


  <%- include('includes/footer.ejs') %>