html { 
    background: url("/img/queretaro-dark.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.min-container{
    padding-top: 2em; 
    padding-bottom: 2em;
    margin-bottom:4em;
    border-radius:10px
}